doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/advent.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/images/favicon.ico")

  body
    block content
    if process.env.BROWSER_REFRESH_URL
      script(src="#{process.env.BROWSER_REFRESH_URL}")
    script(src="https://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/javascripts/ven.js")
    script(src="/javascripts/advent.js")
    link(rel="stylesheet" type="text/css" href="/stylesheets/jquery.countdown.css")
    script(type="text/javascript" src="/javascripts/jquery.plugin.min.js")
    script(type="text/javascript" src="/javascripts/jquery.countdown.min.js")


    script(async src="https://www.googletagmanager.com/gtag/js?id=G-LPJCLGMLHL")
    script(type='text/javascript').
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LPJCLGMLHL');