@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #9F101E;
  font: 14px "Roboto", Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

.calendar-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 250px;
}

.row {
  display: flex;
  width: 100%;
}

.row.remaining-days .number > img {
  opacity: 0.3;
}

.number {
  width: 150px;
  height: 120px;
  text-align: center;
  padding-top: 33px;
  vertical-align: middle;
}

.number.active {
  background-image: url('../images/border-monogram.svg');
  background-size: min(80%, 12vh);
  background-repeat: no-repeat;
  background-position: 50% 13%;
}

.number > img {
  max-width: min(100px, 11vw);
  max-height: min(100px, 11vw);
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: min(28px, 5vw);
  height: 120px;
}

.revolver-banner {
  position: fixed;
  bottom: 65px;
  background-color: whitesmoke;
  width: 100%;
  padding-left: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.revolver-banner img {
  max-width: 400px;
  width: 60%;
}

.revolver-banner p {
  margin-top: 25px;
  font-size: 0.7rem;
}

.monogram {
  padding-left: 3.5rem;
  padding-bottom: 0.5rem;
}

#loader-wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #9F101E;
}

#loader-wrap .loader {
  margin: auto;
  position: absolute;
  text-align:center;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#loader-wrap .loader .mono-loader {
  animation: circle 5s linear infinite;
  width: 125px;
  height: 125px;
}

#loader-wrap .loader .r {
  position: absolute;
  top: 28px;
  left: 65px;
  width: 70px;
  height: 70px;
}

@keyframes circle {
  0% {
    transform:rotate(0deg);
  
  }
  100% {
    transform: rotate(360deg);
  }
}
