@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #9F101E;
  font: 14px "Roboto", Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

.calendar-container {
  margin: 0 auto;
  padding-bottom: 250px;
}

.row {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
}

.row.remaining-days .number > img {
  opacity: 0.3;
}

.number {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.revealed .number.active {
  background-image: url('../images/border-monogram-black.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.number > img {
  max-width: min(150px);
  max-height: min(150px);
}

.meta {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: min(28px, 5vw);
  padding-right: 15px;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .meta {
    font-size: 16px;
  }

  .roaster-location {
    font-size: 12px;
  }

  #brew-guide .content {
    font-size: 1.15rem;
  }
}

.revolver-banner {
  position: fixed;
  bottom: 65px;
  background-color: whitesmoke;
  width: 100%;
  padding-left: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.revolver-banner > img {
  max-width: 400px;
  width: 60%;
}

.revolver-banner p {
  margin-top: 25px;
  font-size: 0.7rem;
}

#brew-guide {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #9F101E;
  font-size: 1.5rem;
  overflow-y: scroll;
}

#brew-guide > .content {
  max-width: 600px;
  padding: 35px;
}

h3 {
  margin: 5px;
}

#brew-guide-close {
  position: fixed;
  top: 5px;
  right: 10px;
  transform: scale(1.3, 1);
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

#brew-guide::-webkit-scrollbar {
width: 0px;
background: transparent;
}

hr {
  border-color: black;
  border-style: dotted;
}

.monogram {
  padding-left: 3.5rem;
  padding-bottom: 0.5rem;
}

#loader-wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #131313;
}

#loader-wrap .loader {
  margin: auto;
  position: absolute;
  text-align:center;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader p {
  color: #e4e4e4;
  font-size: 0.6rem;
  margin-top: 15px;
  opacity: 0.5;
  letter-spacing: 1;
}

#loader-wrap .loader .mono-loader {
  animation: circle 20s linear infinite;
  width: 125px;
  height: 125px;
  color: white;
}

#loader-wrap .loader .r {
  position: absolute;
  top: 28px;
  left: 67px;
  width: 70px;
  height: 70px;
  color: white;
}

@keyframes circle {
  0% {
    transform:rotate(0deg);
  
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#csrf {
  visibility: hidden;
}